.join_info {
	margin-left: 100px;
	width: 800px;
	height: auto;
}

.join_content {
	border: none;
	border-top: 3px solid black;
}

.container {
	margin-top: 100px;
}

.join_ment {
	margin-top: 30px;
	margin-bottom: 30px;
	border: 1px soild black;
}

.join_ment span {
	font-size: 30px;
	font-weight: 700;
	margin-left: 350px;
}

.join_content #joinBtn {
	width: 130px;
	height: 50px;
	border: 1px solid black;
	background-color: black;
	color:white;
	font-size: 12px;
	font-weight:bold;
}

.join_content #closeBtn {
	width: 130px;
	height: 50px;
	margin-left: 250px;
	margin-top: 20px;
	border: none;
	background-color: lightgray;
	color:white;
	font-size: 12px;
	font-weight:bold;
}

.join_content .join_input {
	border: none;
	border-bottom: 1px solid black;
	width: 400px;
	height: 50px;
	font-size: 13px;
}

.info_tbl>tbody>tr>td>button {
	width: 130px;
	height: 50px;
	border: 1px solid black;
	background-color: white;
	font-size: 12px;
}