.join_info {

	margin-left:100px;
}

.container {
	margin-top:100px;
}
.join_ment{
	
	margin-top:30px;
	margin-bottom:30px;
	border:1px soild black;
}
.join_ment span{
	
	font-size:40px;
	font-weight:bold;	
	margin-left:350px;
}
.test {
	
	display:block;

}

.join_content #joinBtn {
	
	width:100px;
	margin-left:400px;
}

.tesst{
	height:30px;
}




